//
// IMPORTANT NOTE:
//
// The styles in this file and all imported styles should not
// create CSS output when compiled!
// Instead they should only define SCSS that gets compiled to nothing.
//
// The reason is that this file is prefixed in _every_ component style so that
// the component has access to the variables, mixins, etc. that
// are defined here.
//

$family-sans-serif: Recursive, Helvetica, Arial, sans-serif;
$vikunja-font: Recursive, sans-serif;

// Split Inspector: 4px corners throughout.
$radius: 0.25rem;
$radius-small: 0.125rem;
$radius-large: 0.375rem;

// the default values get overwritten by the definitions above
@import "bulma-css-variables/sass/utilities/_all";

// mobile minimum width
$mobile: 320px;

$pagination-current-border: var(--primary);
$navbar-item-active-color: var(--primary);

$site-background: var(--grey-100);

$ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
$transition-duration: 180ms;
$transition-layout: 280ms;
$transition: $transition-duration $ease-out-expo;

$button-height: 2rem;
$switch-view-height: 2.69rem;

$navbar-height: 3.25rem;
$navbar-width: 15rem;
$navbar-padding: 2rem;
$inspector-width: 22rem;
$split-inspector-bp: 1100px;

$vikunja-nav-color: var(--grey-700);
$vikunja-nav-selected-width: 0.4rem;

$close-button-min-space: 84px;

@mixin focus-ring {
  box-shadow: 0 0 0 2px hsla(var(--primary-hsl), 0.5);
}
